<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link href="http://o7xfeasig.bkt.clouddn.com/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="http://o7xfeasig.bkt.clouddn.com/nehan.css" />
    <!--<link rel="stylesheet" type="text/css" href="http://richardwei2008.github.io/read/assets/nehan/css/nehan.book.css" />-->
    <link rel="stylesheet" type="text/css" href="http://o7xfeasig.bkt.clouddn.com/responsivook.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/nehan.custom.css">
    <!--<link rel="stylesheet" href="http://o7xfeasig.bkt.clouddn.com/nehan.custom.css">-->
    <!--<style type="text/css">-->
        <!--body{-->
            <!--margin:2em;-->
        <!--}-->
        <!--.post-content{-->
            <!--visibility:hidden;-->
        <!--}-->
        <!--.responsivook{-->
            <!--margin-bottom:2em;-->
        <!--}-->
    <!--</style>-->
</head>


