<!DOCTYPE html>
<html>
    {% if page.book_type %}
        {% include head.html %}
    {% else %}
        {% include head-book.html %}
    {% endif %}
    <body>
    <div style="display: none">
        <img src="http://o7xfeasig.bkt.clouddn.com/shiji.png" alt="shiji">
    </div>

    {% include header.html %}

    <div class="page-content">
        <div class="wrap">
            {{ content }}
        </div>
    </div>

    {% if page.book_type %}
    {% include footer.html %}
    {% else %}
    {% include footer-book.html %}
    {% endif %}

    </body>
</html>